crawler.json
{
  "name": "crawler",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        208
      ],
      "id": "c55f9c27-7301-4c3a-a164-47e5793d80e1",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get the input data from the previous node\nconst inputData = $input.first().json.data;\n\n// Parse the HTML string\nconst htmlContent = inputData;\n\n// Extract URLs and create the desired structure\nconst result = {\n  data: []\n};\n\n// Regular expressions to match different types of URLs\nconst patterns = [\n  // Match <a> tags with href\n  { regex: /<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>([^<]*)<\\/a>/g, type: 'link' },\n  // Match <link> tags with href\n  { regex: /<link[^>]*href=[\"']([^\"']+)[\"'][^>]*>/g, type: 'stylesheet' },\n  // Match <script> tags with src\n  { regex: /<script[^>]*src=[\"']([^\"']+)[\"'][^>]*>/g, type: 'script' },\n  // Match <img> tags with src\n  { regex: /<img[^>]*src=[\"']([^\"']+)[\"'][^>]*>/g, type: 'image' },\n  // Match <iframe> tags with src\n  { regex: /<iframe[^>]*src=[\"']([^\"']+)[\"'][^>]*>/g, type: 'iframe' },\n  // Match meta tags with content URLs\n  { regex: /<meta[^>]*content=[\"']([^\"']*https?:\\/\\/[^\"']+)[\"'][^>]*>/g, type: 'meta' }\n];\n\n// Process each pattern\npatterns.forEach(pattern => {\n  let match;\n  while ((match = pattern.regex.exec(htmlContent)) !== null) {\n    const url = match[1];\n    // Skip empty URLs, javascript: links, and anchor links\n    if (url && \n        !url.startsWith('javascript:') && \n        !url.startsWith('#') && \n        !url.startsWith('mailto:') && \n        !url.startsWith('tel:')) {\n      \n      result.data.push({\n        url: url,\n        url_name: match[2] || pattern.type,\n        type: pattern.type\n      });\n    }\n  }\n});\n\n// Remove duplicates based on URL\nresult.data = result.data.filter((item, index, self) => \n  index === self.findIndex(t => t.url === item.url)\n);\n\n// Sort by URL for consistency\nresult.data.sort((a, b) => a.url.localeCompare(b.url));\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -16
      ],
      "id": "4edc386b-424a-48d6-9d04-f12a079d2067",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        224
      ],
      "id": "0dc8611a-263d-44e5-b573-0d93ca7d822b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "hfZYXaK2YgWNptc5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        208
      ],
      "id": "770cf610-ce05-4811-a7dc-ce86f5c30169",
      "name": "Telegram Trigger",
      "webhookId": "4a2aa9da-7abb-4144-90cf-f3f18f3d64ed",
      "credentials": {
        "telegramApi": {
          "id": "bFFkHyi1Wzrec22z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n\nyou are an smart agent you have to extract link from the coming text\n{{ $json.message.text }}\n\n\nIMPORTANT: \n\nalways give only links\nno explainations\nnot even a single another letter\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -688,
        208
      ],
      "id": "f04a4497-80ec-4d84-8c15-dff6cc51e8f0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -816,
        416
      ],
      "id": "56a6dc4e-90ab-4abb-b1f2-f29cf144a407",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "hfZYXaK2YgWNptc5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1iqw-3eAQzrHb8TOqxT0FWsr0aV3Px7EXifyE8I1wdDQ",
          "mode": "list",
          "cachedResultName": "crawler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iqw-3eAQzrHb8TOqxT0FWsr0aV3Px7EXifyE8I1wdDQ/edit?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {}
          },
          "fileName": "data.csv"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        208
      ],
      "id": "529018b4-3f2a-4428-aed8-5f94559dee3c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7UgTgumAkOW1futL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        448
      ],
      "id": "825b2117-ef73-4bbd-8651-0230d2cfdd24",
      "name": "Send a document",
      "webhookId": "2f9cdf41-9fae-4382-a772-e9c30f49b897",
      "credentials": {
        "telegramApi": {
          "id": "bFFkHyi1Wzrec22z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fdf512f0-a4c0-44a3-a61a-24a204c01e2d",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        208
      ],
      "id": "7afdc3d8-4c50-4742-8129-5e28f496d4f8",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⚠️ Error: I am unable to scrape this website. It may have anti-bot protections, or it might be illegal/restricted to crawl this specific domain.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        432
      ],
      "id": "c7286427-0d77-49a1-8710-256e64f53a33",
      "name": "Send a text message",
      "webhookId": "e639306e-455b-4df9-8880-9c01457e9758",
      "credentials": {
        "telegramApi": {
          "id": "bFFkHyi1Wzrec22z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        208
      ],
      "id": "dedcff57-5327-4a8d-ab44-1ff1215ccdd1",
      "name": "Wait",
      "webhookId": "99d5b2b9-f902-4786-8d62-f527ce6d6d4a"
    },
    {
      "parameters": {
        "text": "={{ JSON.stringify($json.data) }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"data\": [\n    {\n      \"url\": \"\",\n      \"url_name\": \"\",\n      \"type\": \"\"\n    }\n  ]\n}",
        "options": {
          "systemPromptTemplate": "=you have to identify the url, url_name and type field and map in the output json\n\n\ngive only relevent data do not give duplicate data \n\n\nfind out all http links only \n\ndont give script links and stylesheet links\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        240,
        -16
      ],
      "id": "ac88645b-7c07-4ddc-805d-8522ecda72bb",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1iqw-3eAQzrHb8TOqxT0FWsr0aV3Px7EXifyE8I1wdDQ",
          "mode": "list",
          "cachedResultName": "crawler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iqw-3eAQzrHb8TOqxT0FWsr0aV3Px7EXifyE8I1wdDQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iqw-3eAQzrHb8TOqxT0FWsr0aV3Px7EXifyE8I1wdDQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url_name",
              "displayName": "url_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        208
      ],
      "id": "76e4b9c1-f18c-4cf3-b592-f4991dec7eb2",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G3VMAiIIrRu3mezi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        672,
        208
      ],
      "id": "95771417-7b5d-44ff-8198-8c5ef867349c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        -16
      ],
      "id": "aa264dcc-1ffa-4938-b6e8-789fd75713fb",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        -16
      ],
      "id": "2ead9a64-1993-4a85-866a-fcf156eaf07e",
      "name": "Split Out1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e2de63bb-cef5-4464-a634-cbd35847ec9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82a4f1b0f2ffebe02e45a73fdc503d837d934804be3d28585421754f29c3b34b"
  },
  "id": "NKHH4AL6YVgkZ3VlaqMZG",
  "tags": []
}